.row {
    max-width: $grid-width; // 1 == we have 1140 px ==> 114rem 
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    /*

    [class^="col-"] ==> select all atribute that start with col- 
    [class*="col-"]==> select any class whitch contain col- 
    [class$="col-"]==> select any class that ends with col-

    */

    [class^="col-"] { 

        float: left;
        padding: 10px;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    @include clearfix; 
    .col-1-of2 {
        width: calc((100% - #{$gutter-horizontal}) / 2 );

    }
    .col-1-of3 {
        width: calc((100% - 2  * #{$gutter-horizontal}) / 3); 
        
    }
    .col-2-of3 {
        width: calc( 2 * ((100% - 2  * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}); 
    }

    .col-1-of4 {
        width: calc((100% - 3  * #{$gutter-horizontal}) / 4); 
    }

    .col-2-of4 {
        width: calc( 2 * ((100% - 3  * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}) ; 
    }

    .col-3-of4 {
        width: calc( 3 * ((100% - 3  * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}); 
    }

} 
