.composition {
    position: relative;
    &__photo {
        width: 55%; 
        box-shadow: 0 2rem 3rem $color-black;
        border-radius: 5px;
        position: absolute; 
        z-index: 2;
        transition: all .1s;
        outline-offset: 2rem; 
        
        @include respond(tab-port) {
            float: left;
            width: 33.333333%; 
            @include boxShadow; 
            position: relative;
        }

    &--p1 {
        top: 2rem; 
        left: 0;
              
        @include respond(tab-port) {
            top: 0; 
            left: 1rem; 
            transform: scale(1.6);
        }

    }

    &--p2 {
        top: 4rem; 
        right: 0;
        @include respond(tab-port) {
            top: -2rem; 
            right: 0;
            z-index: 100;
            transform: scale(1.6);
        }

    }

    &--p3 {
        top: 12rem; 
        left: 20%;
        @include respond(tab-port) {
            top: 0;
            left: -1rem;
            transform: scale(1.6);
        }
    } 

    &:hover {
        outline: 1.5rem solid $color-primary; 
        transform: scale(1.05) translateY(-.5rem) rotate(6deg); 
        box-shadow: 0 2.5rem 4rem rgba($color-black ,.5); 
        z-index: 20;
    }

    } 

    &hover &__photo:not(:hover) {
        transform: scale(.95);
    }
 
}